<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form id="form1" action="books" enctype="multipart/form-data" method="post">
		编号<input id="numbering" type="text" name="numbering">
		书名<input id="name" type="text" name="name">
		封面<input id="cover" type="file" name="cover" accept=".jpg,.jpeg,.png">
		<input id="sub" type="button" value="提交">
	</form>
	
	<form action="books" method="post">
		<input type="hidden" name="_method" value="DELETE">
		输入你要删除的书籍的id<input type="text" name="id">
		<input type="submit" value="提交">
	</form>
	
	<form action="books" method="post">
		<input type="hidden" name="_method" value="PUT">
		输入你要更新的书籍的id<input type="text" name="id">
		编号<input type="text" name="numbering">
		书名<input type="text" name="name">
		状态
		<select name="state">
			<option value="IDLE">空闲</option>
			<option value="BOOKED">被预定</option>
			<option value="BORROWED">借出</option>
		</select>
		是否上架
		<select name="available">
			<option value="1">是</option>
			<option value="0">否</option>
		</select>
		<input type="submit" value="提交">
	</form>
	
	<form action="books/cover" method="post" enctype="multipart/form-data">
		<input type="hidden" name="_method" value="PUT">
		书id<input type="text" name="id">
		要更新的封面<input type="file" name="cover" accept=".jpg,.jpeg,.png">
		<input type="submit" value="提交">
	</form>
</body>

<script type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script type="text/javascript">
	$("#sub").click(function(){
		var book = {
			numbering : $("#numbering").val(),
			name : $("#name").val()
		};
		var jsonBook = JSON.stringify(book);
		
		var formData = new FormData();
		formData.append("bookInfo", new Blob([jsonBook], {type: "application/json"}));
		formData.append("cover", document.getElementById("cover").files[0]);
		$.ajax({
			url:"books",
			contentType:false,
			processData:false,
			data:formData,
			type:"POST"
		});	
	});
</script>
</html>