<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <form method="post">
        <input id="account" type="text" name="account">
        <input id="password" type="password" name="password">
        <input id="login-btn" type="button" value="登录" >
    </form>
    <form action="index" method="post">
        <input type="hidden" id="header" name="_header">
    </form>
    
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        $("#login-btn").click(function(){
        	$.ajax({
        		url: "validate",
        		data: {
                    "account" : $("#account").val(),
                    "password" : $("#password").val()
                },
        		async: false,
                type: "POST",
        		success: function(data){
        			if (data.success == false){
                        alert("账号或密码错误");
                    }else {
                    	$("#header").val("authorization:" + data);
                        document.getElementsByTagName("form")[1].submit();
                    }
        		}
        	})
        });
    </script>
</body>
</html>