/* func-bar*/
.func-bar{
	margin-top: 20px;
	padding: 10px 0;
	background-color: #fff;
	box-shadow: 0 2px 12px 0 rgba(0,0,0,0.1);
}
.func-bar #add-btn{
	display: inline-block;
	padding: 3px;
	color: #fff;
	background-color: rgb(64, 158, 255);
	border-radius: 3px;
	cursor: pointer;
}
.func-bar #add-btn:active{
	background-color: rgb(24, 128, 255);
}
.func-bar form{
	display: inline;
	float: right;
}

/* table */
.table-wrapper{
	flex: 0 0 100%;
	max-width: 100%;
	padding: 0 20px;
}
.table-wrapper img{
	width: 30px;
	height: 33px;
	cursor: pointer;
}
.table-wrapper .upd-btn, .del-btn{
	color: #0181ff;
	cursor: pointer;
}

/*mask*/
.mask>div>form{
	margin: 20px 0;
	padding: 0 60px;
}

.mask>div>form>div{
	padding-top: 20px;
}

.mask form .title{
	min-width: 500px;
}

.mask form .content-mark{
	vertical-align: top;
}

.mask form textarea{
	min-width: 500px;
	height: 140px;
}