.clearfix::after{
	content:"";
	display:block;
	clear:both;
}

.center-align{
	text-align: center;
}

/*隐藏的form*/
.hidden-from{
	display: none;
}

/*顶部功能栏*/
.func-bar-wrapper{
    width: 100%;
    margin-top: 30px;
}

.func-bar{
    flex: 0 0 100%;
    max-width: 100%;
    margin: 0 15px;
    padding: 10px 0;
    background-color: #fff;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.1);
}

/*弹出输入框*/
.mask{
	display: none;
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	text-align:left;
	z-index: 12;
}

.mask>div{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	width: 50%;
	height: 400px;
	min-width: 500px;
	background-color: #fff;
}

.mask>div>i{
	position: absolute;
	top:-10px;
	right:-10px;
	width:21px;
	height:21px;
	line-height:18px;
	color:#fff;
	font-size:14px;
	border-radius:50%;
	background-color:rgb(51,201,245);
	text-align:center;
	border:2px solid #eee;
	cursor: pointer;
	z-index: 13;
}