#qrcode {
    height: 275px;
    width: 270px;
    margin: 0 auto;
}

canvas {
    height: 275px;
    width: 270px;
    border-radius: 2%;
}

.father {
	background-image: url("/img/back.png");
	background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
}

.son {
    height: 500px;
    width: 500px;
    margin: 100px auto;
}