/* func-bar*/
.func-bar-wrapper{
	margin-top: 25px;
}

.func-bar-wrapper .back-btn{
	color: #0066dd !important;
	cursor: pointer;
}

.func-bar{
	flex: 0 0 100%;
	max-width: 100%;
	margin: 0 15px;
	padding: 10px 0;
	background-color: #fff;
	box-shadow: 0 2px 12px 0 rgba(0,0,0,0.1);
}

.func-bar form{
	display: inline;
	float: right;
}

/* table */
.table-wrapper {
	flex: 0 0 100%;
	max-width: 100%;
}

.table-wrapper img {
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.table-wrapper .see-btn, .del-btn{
	color: #0181ff;
	cursor: pointer;
}