/* func-bar*/
.func-bar-wrapper{
	width: 100%;
	margin-top: 30px;
}

.func-bar{
	flex: 0 0 100%;
	max-width: 100%;
	margin: 0 15px;
	padding: 10px 0;
	background-color: #fff;
	box-shadow: 0 2px 12px 0 rgba(0,0,0,0.1);
}

.func-bar form{
	display: inline;
	float: right;
}

.func-bar form:nth-child(2){
	margin-right: 15px;
}

.func-bar form #sort-btn{
    display: inline-block;
    padding: 3px;
    margin-right: 20px;
    color: #fff;
    background-color: rgb(64, 158, 255);
    border-radius: 3px;
    cursor: pointer;
}
.func-bar form #sort-btn:active{
    background-color: rgb(24, 128, 255);
}

.func-bar form .sort-btn-active{
    background-color: rgb(24, 128, 255) !important;
}

/* table */
.table-wrapper {
	flex: 0 0 100%;
	max-width: 100%;
}

.table-wrapper img {
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.table-wrapper .fbd-btn{
	color: #0181ff;
	cursor: pointer;
}