@charset "UTF-8";

/*分页*/
.footer .my_pagination{
	text-align: center;
}

.footer .my_pagination div{
	display: inline-block;
	width:34px;
	height: 34px;
	line-height: 34px;
	border: 1px solid #e1e2e3;
	margin-right: 9px;
	font-size: 16px;
	color:rgb(100,120,234);
	background-color: #fff;
	cursor: pointer;
}

.footer .my_pagination div:hover{
	border-color: rgb(51,136,255);
	background-color: rgb(242,248,255);
}