<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaohuashifu.tm.dao.AdminMapper">
    <sql id="adminColumn">
        id, full_name, job_number, password, department, phone, email, available, create_time, update_time
    </sql>
    
    <sql id="adminLogColumn">
        id, admin_id, content, operate_time, create_time, update_time
    </sql>


    <select id="getAdminById" parameterType="integer" resultType="com.xiaohuashifu.tm.pojo.do0.AdminDO">
        select
        <include refid="adminColumn"/>
        from admin where id = #{id};
    </select>

	<select id="getAdminByJobNumber" parameterType="string" resultType="com.xiaohuashifu.tm.pojo.do0.AdminDO">
		select
		<include refid="adminColumn"/>
		from admin
		where job_number = #{jobNumber};
	</select>
	
	<insert id="insertAdminLog">
		insert into admin_log (admin_id, content) values (#{adminLog.adminId}, #{adminLog.content});
	</insert>
	
	<select id="listAdminLogs" resultType="com.xiaohuashifu.tm.pojo.do0.AdminLogDO">
		select
		<include refid="adminLogColumn"/>
		from admin_log
	</select>
	
</mapper>