<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaohuashifu.tm.dao.BookMapper">
    <sql id="bookColumn">
        id, numbering, name, cover_url, state, available, create_time, update_time
    </sql>
    
    <sql id="bookLogColumn">
        id, user_id, book_id, borrow_time, expiration_time, return_time, state, create_time, update_time
    </sql>


	<insert id="insert" parameterType="com.xiaohuashifu.tm.pojo.do0.BookDO">
	  insert into book (numbering, name, cover_url)
	  values (#{numbering}, #{name}, #{coverUrl});
	</insert>
  
	<delete id="delete" parameterType="integer">
		delete from book where id = #{id};
	</delete>
	
	<update id="updateBook" parameterType="com.xiaohuashifu.tm.pojo.do0.BookDO">
		update book
		<set>
		    <if test="numbering != null">
		        numbering = #{numbering},
		    </if>
		    <if test="name != null">
		        name = #{name},
		    </if>
		    <if test="state != null">
		        state = #{state},
		    </if>
		    <if test="available != null">
		        available = #{available}
		    </if>
		</set>
		 where id = #{id};
	</update>
	
	<update id="updateCover">
		update book set cover_url = #{cover_url} where id = #{id};
	</update>
	
	<select id="getCoverUrlById" parameterType="integer" resultType="string">
		select cover_url from book where id = #{id};
	</select>
	
	<select id="getBookById" parameterType="integer" resultType="com.xiaohuashifu.tm.pojo.do0.BookDO">
		select 
		<include refid="bookColumn"/>
		from book where id = #{id}
	</select>

	<select id="listBooks" parameterType="com.xiaohuashifu.tm.pojo.query.BookQuery"
			resultType="com.xiaohuashifu.tm.pojo.do0.BookDO">
		select
		<include refid="bookColumn"/>
		from book
		<where>
			<if test="id != null">
				and id = #{id}
			</if>
			<if test="idList != null">
				id in (
				<foreach collection="idList"  item="item" index="index" separator=",">
					#{item}
				</foreach>
				)
			</if>
			<if test="numbering != null">
				and numbering = #{numbering}
			</if>
			<if test="name != null">
				and name like "%"#{name}"%"
			</if>
			<if test="state != null">
				and state = #{state}
			</if>
			<if test="available != null">
				and available = #{available}
			</if>
		</where>
		order by update_time desc
	</select>
	
	<select id="countBooks" resultType="integer">
	    select count(*) from book;
	</select>
	
	<select id="countBorrowedBooks" resultType="integer">
        select count(*) from book where state = 'BORROWED';
    </select>
	
	
  
	<!--  借书相关  -->
	<insert id="insertBookLog" parameterType="com.xiaohuashifu.tm.pojo.do0.BookLogDO">
		insert into book_log (user_id, book_id, borrow_time, expiration_time, return_time, state)
		values
		(#{bookLog.userId}, #{bookLog.bookId}, #{bookLog.borrowTime},
		#{bookLog.expirationTime}, #{bookLog.returnTime}, #{bookLog.state});
	</insert>
	
	<update id="updateBookLog" parameterType="com.xiaohuashifu.tm.pojo.do0.BookLogDO">
		update book_log set borrow_time = #{bookLog.borrowTime}, expiration_time=#{bookLog.expirationTime},
		return_time = #{bookLog.returnTime}, state = #{bookLog.state}
		where user_id = #{bookLog.userId} and book_id = #{bookLog.bookId};	
	</update>
	
	<select id="getBookLog" resultType="com.xiaohuashifu.tm.pojo.do0.BookLogDO">
	    select
	    <include refid="bookLogColumn"/>
	    from book_log
	    where book_id=#{bookId} and state=#{state}
	    order by create_time desc
	    limit 1;
	</select>
	
	<select id="listBookLogs" parameterType="com.xiaohuashifu.tm.pojo.query.BookLogQuery"
	    resultType="com.xiaohuashifu.tm.pojo.do0.BookLogDO">
	    select
	    <include refid="bookLogColumn"/>
	    from book_log
	    <where>
	        <if test="userId != null">
	            user_id = #{userId}
	        </if>
			<if test="bookId != null">
				and book_id = #{bookId}
			</if>
	        <if test="state != null">
	            and state = #{state}
	        </if>
	    </where>
		order by update_time desc
	</select>
	
	<select id="listBorrowedBookIdByUserId" parameterType="integer" resultType="integer">
	    select distinct book_id
	    from book_log
	    where user_id = #{id} and state='BORROWED';
	</select>
</mapper>