<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaohuashifu.tm.dao.BookMapper">
  <insert id="insert" parameterType="com.xiaohuashifu.tm.pojo.do0.BookDO">
    insert into book (numbering, name, cover_url)
    values (#{book.numbering}, #{book.name}, #{book.coverUrl});
  </insert>
  
  <delete id="delete" parameterType="integer">
  	delete from book where id = #{id};
  </delete>
  
  <update id="updateBook" parameterType="com.xiaohuashifu.tm.pojo.do0.BookDO">
  	update book set numbering = #{book.numbering}, name = #{book.name}, state = #{book.state}, available = #{book.available}
  	 where id = #{book.id};
  </update>
  
  <update id="updateCover">
  	update book set cover_url = #{cover_url} where id = #{id};
  </update>
  
  <select id="getCoverUrlById" parameterType="integer" resultType="string">
  	select cover_url from book where id = #{id};
  </select>
  
  <select id="getBookById" parameterType="integer" resultType="com.xiaohuashifu.tm.pojo.do0.BookDO">
  	select * from book where id = #{id};
  </select>
  
  <select id="listBooksByName" parameterType="string" resultType="com.xiaohuashifu.tm.pojo.do0.BookDO">
  	select * from book where name like CONCAT('%', #{name}, '%')
  </select>
  
  <select id="listBooks" resultType="com.xiaohuashifu.tm.pojo.do0.BookDO">
  	select * from book
  </select>
  
	<!--  借书相关  -->
	<insert id="insertBookLog" parameterType="com.xiaohuashifu.tm.pojo.do0.BookLogDO">
		insert into book (user_id, book_id, borrow_time, expiration_time, return_time, state)
		values
		(#{bookLog.userId}, #{bookLog.bookId}, #{bookLog.borrowTime},
		#{bookLog.expirationTime}, #{bookLog.returnTime}, #{bookLog.state});
	</insert>
	
	<update id="updateBookLog" parameterType="com.xiaohuashifu.tm.pojo.do0.BookLogDO">
		update book_log set borrow_time = #{bookLog.borrowTime}, expiration_time=#{bookLog.expirationTime},
		return_time = #{bookLog.returnTime}, state = #{bookLog.state}
		where user_id = #{bookLog.userId} and book_id = #{bookLog.bookId};	
	</update>
	
	<select id="getBookLogByUserId" parameterType="integer">
		select * from book_log where user_id = #{id};
	</select>
</mapper>