<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaohuashifu.tm.dao.PointLogMapper">
    <sql id="pointLogColumn">
        id, user_id, point, content, create_time, update_time
    </sql>
	<insert id="insertPointLog" parameterType="com.xiaohuashifu.tm.pojo.do0.PointLogDO">
		insert into point_log (user_id, point, content)
		values (#{pointLog.userId}, #{pointLog.point}, #{pointLog.content});
	</insert>
	
	<select id="listPointLogs" parameterType="com.xiaohuashifu.tm.pojo.query.PointLogQuery"
	    resultType="com.xiaohuashifu.tm.pojo.do0.PointLogDO">
		select
		<include refid="pointLogColumn"/>
		from point_log
		<where>
			<if test="id != null">
				and id = #{id}
			</if>
			<if test="idList != null">
				and id in (
				<foreach collection="idList"  item="item" index="index" separator=",">
					#{item}
				</foreach>
				)
			</if>
		    <if test="userId != null">
		        and user_id = #{userId}
		    </if>
			<if test="content != null">
				and content like "%"#{content}"%"
			</if>
		</where>
		order by update_time desc
	</select>
</mapper>