<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaohuashifu.tm.dao.WeChatMpFormIdMapper">
    <resultMap id="BaseResultMap" type="com.xiaohuashifu.tm.pojo.do0.WeChatMpFormIdDO">
        <constructor>
            <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="fid" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="form_id" jdbcType="VARCHAR" javaType="java.lang.String"/>
        </constructor>
    </resultMap>

    <sql id="Base_Column_List">
        id, fid, form_id
    </sql>

    <insert id="saveFormId" parameterType="map">
        insert into wechat_mp_form_id (fid, form_id)
        values (#{fid, jdbcType=INTEGER}, #{formId, jdbcType=VARCHAR})
    </insert>

    <select id="getFormId" parameterType="integer" resultType="string">
        select form_id from wechat_mp_form_id
        where fid = #{fid, jdbcType=INTEGER} limit 1
    </select>

    <delete id="deleteFormId" parameterType="string">
        delete from wechat_mp_form_id
        where form_id = #{formId, jdbcType=INTEGER}
    </delete>
</mapper>